PrisonIdentities/*.json
PrisonIdentities/*.csv
PerUserMfa/*.json
SP/*.json
SP/*.csv
AllEnabledUsers/*.json
AllEnabledUsers/*.csv
AdminAccounts/*.csv
AdminAccounts/*.log
AdminAccounts/*.zip
Google/*.json
Google/*.csv
.vscode
